*.pyc
*.mp4
.vscode
__pycache__
output
build
submodules/diff-gaussian-rasterization_c3/diff_gaussian_rasterization_c3.egg-info
submodules/diff-gaussian-rasterization_c7/diff_gaussian_rasterization_c7.egg-info
submodules/simple-knn/simple_knn.egg-info
submodules/cubemapencoder/cubemapencoder.egg-info
tensorboard_3d
screenshots
data
util_scripts
video_bp_files
videos
visual_train
ref_nerf_envs